@font-face {
    font-family: 'RedHatDisplay-Regular';
    src: url('~@/assets/fonts/RedHatDisplay-Regular.ttf') format('truetype');
  }

@font-face {
    font-family: 'RedHatDisplay-Medium';
    src: url('~@/assets/fonts/RedHatDisplay-Medium.ttf') format('truetype');
  }

@font-face {
    font-family: 'RedHatDisplay-Light';
    src: url('~@/assets/fonts/RedHatDisplay-Light.ttf') format('truetype');
  }

@font-face {
    font-family: 'RedHatDisplay-LightItalic';
    src: url('~@/assets/fonts/RedHatDisplay-LightItalic.ttf') format('truetype');
  }
  
@font-face {
    font-family: 'RedHatDisplay-Bold';
    src: url('~@/assets/fonts/RedHatDisplay-Bold.ttf') format('truetype');
  }